# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 39
<dl>
    <dt>20 horas (33.3%)</dt>
    <dd>ist199417 Henrique Luz</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1106481 Vasco Conceição</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1107273 Nuno Martins</dd>
<dl>

In [63]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 10
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [64]:
%%sql

-- Terminate active connections
SELECT pg_terminate_backend(pid)
FROM pg_stat_activity
WHERE datname = 'saude' AND pid <> pg_backend_pid();

-- Drop the database
DROP DATABASE IF EXISTS saude;

-- Drop the user
DROP USER IF EXISTS saude;

3 rows affected.

++
||
++
++

In [65]:
%%sql

-- Terminate active connections
-- SELECT pg_terminate_backend(pid)
-- FROM pg_stat_activity
-- WHERE datname = 'saude' AND pid <> pg_backend_pid();

-- Drop the database
-- DROP DATABASE IF EXISTS saude;

-- Drop the user
-- DROP USER IF EXISTS saude;

-- Create the user
CREATE USER saude WITH PASSWORD 'saude';

-- Create the database
CREATE DATABASE saude WITH OWNER = saude ENCODING = 'UTF8';

-- Grant privileges
GRANT ALL ON DATABASE saude TO saude;

++
||
++
++

In [66]:
%sql postgresql+psycopg://saude:saude@postgres/saude

Connecting and switching to connection 'postgresql+psycopg://saude:***@postgres/saude'

In [67]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
    nif CHAR(9) NOT NULL REFERENCES medico,
    nome VARCHAR(80) NOT NULL REFERENCES clinica,
    dia_da_semana SMALLINT,
    PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
    nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
    PRIMARY KEY (id, parametro)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [68]:
%%sql
-- (RI-1)

ALTER TABLE consulta
ADD CONSTRAINT RI_1 CHECK(((EXTRACT(HOUR FROM hora) >= 8 AND EXTRACT(HOUR FROM hora) < 13) OR (EXTRACT(HOUR FROM hora) >= 14 AND EXTRACT(HOUR FROM hora) < 19)) AND EXTRACT(MINUTE FROM hora) IN (0, 30) AND EXTRACT(SECOND FROM hora) = 0);

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [71]:
%%sql
-- (RI-2)

CREATE OR REPLACE FUNCTION check_medico_paciente() RETURNS TRIGGER AS $$
  DECLARE nif_medico CHAR(9);
  BEGIN
    SELECT nif INTO nif_medico
      FROM paciente
      WHERE paciente.ssn = NEW.ssn;
    IF NEW.nif = nif_medico THEN
      RAISE EXCEPTION 'O médico % não se pode consultar a si próprio.', NEW.nif;
    END IF;
    RETURN NEW;
  END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_medico_paciente_trigger AFTER INSERT ON consulta
    FOR EACH ROW EXECUTE FUNCTION check_medico_paciente();

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [70]:
%%sql
-- (RI-3)
    
CREATE OR REPLACE FUNCTION check_medico_clinica() RETURNS TRIGGER AS $$
  DECLARE clinica_dia_da_semana VARCHAR(80);
  BEGIN
    SELECT nome INTO clinica_dia_da_semana
      FROM trabalha
      WHERE trabalha.nif = NEW.nif AND trabalha.dia_da_semana = EXTRACT(DOW FROM NEW.data);
    IF clinica_dia_da_semana != NEW.nome THEN
      RAISE EXCEPTION 'No dia da semana %, o médico % só pode dar consultas na clínica %.', EXTRACT(DOW FROM NEW.data), NEW.nif, NEW.nome;
    END IF;
    RETURN NEW;
  END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_medico_clinica_trigger AFTER INSERT ON consulta
    FOR EACH ROW EXECUTE FUNCTION check_medico_clinica();

++
||
++
++

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

|Endpoint|Função|
|--------|---------|
|/|lista_clinicas|
|/c/\<clinica>/|lista_especialidades_clinica|
|/c/\<clinica>/\<especialidade>/|lista_medicos_especialidade_clinica|
|/a/\<clinica>/registar/|regista_consulta_clinica|
|/a/\<clinica>/cancelar/|cancela_consulta_clinica|

## 4 . Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [72]:
%%sql

DROP MATERIALIZED VIEW IF EXISTS historial_paciente CASCADE;

CREATE MATERIALIZED VIEW historial_paciente AS
SELECT c.id, c.ssn, c.nif, c.nome, c.data, EXTRACT(YEAR FROM c.data) AS ano, EXTRACT(MONTH FROM c.data) AS mes, EXTRACT(DAY FROM c.data) AS dia_do_mes, SUBSTRING(cl.morada FROM '[0-9]{4}-[0-9]{3}\s(.*)') AS localidade, m.especialidade, 'receita' AS tipo, r.medicamento AS chave, r.quantidade AS valor
FROM consulta c JOIN paciente p ON c.ssn = p.ssn
                JOIN medico m ON c.nif = m.nif
                JOIN clinica cl ON c.nome = cl.nome
                JOIN receita r ON c.codigo_sns = r.codigo_sns
UNION
SELECT c.id, c.ssn, c.nif, c.nome, c.data, EXTRACT(YEAR FROM c.data) AS ano, EXTRACT(MONTH FROM c.data) AS mes, EXTRACT(DAY FROM c.data) AS dia_do_mes, SUBSTRING(cl.morada FROM '[0-9]{4}-[0-9]{3}\s(.*)') AS localidade, m.especialidade, 'observacao' AS tipo, o.parametro AS chave, o.valor AS valor
FROM consulta c JOIN paciente p ON c.ssn = p.ssn
                JOIN medico m ON c.nif = m.nif
                JOIN clinica cl ON c.nome = cl.nome
                JOIN observacao o ON c.id = o.id;

582702 rows affected.

++
||
++
++

## 5. Análise de Dados (SQL e OLAP)

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [73]:
%%sql

SELECT ssn
FROM historial_paciente hp1 JOIN historial_paciente hp2 USING (ssn, especialidade, chave)
WHERE hp1.id != hp2.id AND especialidade = 'Ortopedia' AND hp1.valor IS NULL AND hp1.data - hp2.data >= ALL(
    SELECT hp3.data - hp4.data
    FROM historial_paciente hp3 JOIN historial_paciente hp4 USING (ssn, especialidade, chave)
    WHERE hp3.id != hp4.id AND especialidade = 'Ortopedia' AND hp3.valor IS NULL
);

1 rows affected.

+-------------+
|     ssn     |
+-------------+
| 30267760908 |
+-------------+

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante os últimos doze meses, em consultas de cardiologia.

In [74]:
%%sql
SELECT ssn FROM paciente;

5488 rows affected.

+-------------+
|     ssn     |
+-------------+
| 54254148721 |
| 48757213064 |
| 25001454091 |
| 40588901295 |
| 77818894778 |
| 39361461493 |
| 97226478384 |
| 87005538667 |
| 20075360277 |
| 15399065152 |
+-------------+
Truncated to displaylimit of 10.

In [34]:
%%sql
SELECT * FROM historial_paciente;

582592 rows affected.

+----+-------------+-----------+-----------------+------------+------+-----+------------+------------+---------------+------------+-----------------+-------+
| id |     ssn     |    nif    |       nome      |    data    | ano  | mes | dia_do_mes | localidade | especialidade |    tipo    |      chave      | valor |
+----+-------------+-----------+-----------------+------------+------+-----+------------+------------+---------------+------------+-----------------+-------+
| 0  | 88139571880 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |  Dor abdominal  |  None |
| 0  | 88139571880 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |      Fadiga     |  None |
| 0  | 88139571880 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral |  receita   |   Dexametasona  |  1.0  |
| 0  | 88139571880 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral |  receita   |    Fenitoína    |  3.0  |
| 0  | 88139571880 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral |  receita   |     Morfina     |  3.0  |
| 1  | 92436437847 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |    Boca seca    |  None |
| 1  | 92436437847 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao | Erupção cutânea |  None |
| 1  | 92436437847 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |      Fadiga     |  None |
| 1  | 92436437847 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |  Nível de sódio |  None |
| 1  | 92436437847 | 176432759 | Clínica Vitalis | 2023-01-01 | 2023 |  1  |     1      |   Oeiras   | Clínica Geral | observacao |    Rouquidão    |  None |
+----+-------------+-----------+-----------------+------------+------+-----+------------+------------+---------------+------------+-----------------+-------+
Truncated to displaylimit of 10.

In [35]:
%%sql
SELECT ssn, chave
FROM historial_paciente
WHERE tipo = 'receita';

223584 rows affected.

+-------------+--------------+
|     ssn     |    chave     |
+-------------+--------------+
| 88139571880 | Dexametasona |
| 88139571880 |  Fenitoína   |
| 88139571880 |   Morfina    |
| 29118772982 | Amoxicilina  |
| 29118772982 |  Cetirizina  |
| 29118772982 |  Metformina  |
| 29118772982 |  Sertralina  |
| 92037222369 |  Fenitoína   |
| 77945648961 |  Enalapril   |
| 77945648961 | Gabapentina  |
+-------------+--------------+
Truncated to displaylimit of 10.

In [75]:
%%sql

SELECT DISTINCT hp2.mes
FROM historial_paciente hp2
EXCEPT
SELECT hp3.mes
FROM historial_paciente hp3
WHERE hp3.ssn = '88139571880' AND hp3.chave = 'Dexametasona' AND hp3.especialidade = 'Cardiologia';

12 rows affected.

+-----+
| mes |
+-----+
|  8  |
|  6  |
|  5  |
|  9  |
|  2  |
|  11 |
|  3  |
|  12 |
|  10 |
|  7  |
+-----+
Truncated to displaylimit of 10.

In [76]:
%%sql

SELECT hp1.ssn, hp1.chave
FROM historial_paciente hp1
WHERE hp1.tipo = 'receita' AND NOT EXISTS (
    SELECT DISTINCT hp2.mes
    FROM historial_paciente hp2
    EXCEPT
    SELECT DISTINCT hp3.mes
    FROM historial_paciente hp3
    WHERE hp3.ssn = hp1.ssn AND hp3.chave = hp1.chave AND hp3.especialidade = 'Cardiologia'
);

KeyboardInterrupt:

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [19]:
%%sql

SELECT chave, localidade, t.nome AS nome_clinica, mes, dia_do_mes, hp.especialidade, m.nome AS nome_medico, SUM(valor)
FROM historial_paciente hp JOIN trabalha t USING (nif) JOIN medico m USING (nif)
WHERE tipo = 'receita' AND ano = 2023 AND EXTRACT(DOW FROM data) = t.dia_da_semana
GROUP BY GROUPING SETS((chave), (chave, localidade, t.nome), (chave, mes, dia_do_mes), (hp.especialidade, m.nome))
ORDER BY chave, localidade, nome_clinica, mes, dia_do_mes, hp.especialidade, nome_medico;

17866 rows affected.

+---------------+---------------+--------------------+------+------------+---------------+-------------+--------+
|     chave     |   localidade  |    nome_clinica    | mes  | dia_do_mes | especialidade | nome_medico |  sum   |
+---------------+---------------+--------------------+------+------------+---------------+-------------+--------+
| Amitriptilina |    Cascais    |   Clínica Renova   | None |    None    |      None     |     None    | 1308.0 |
| Amitriptilina |     Mafra     | Clínica Equilíbrio | None |    None    |      None     |     None    | 1371.0 |
| Amitriptilina |     Oeiras    |  Clínica Vitalis   | None |    None    |      None     |     None    | 1347.0 |
| Amitriptilina |     Sintra    | Clínica Bem-Estar  | None |    None    |      None     |     None    | 1244.0 |
| Amitriptilina | Torres Vedras | Clínica Vida Plena | None |    None    |      None     |     None    | 1275.0 |
| Amitriptilina |      None     |        None        |  1   |     1      |      None     |     None    |  31.0  |
| Amitriptilina |      None     |        None        |  1   |     2      |      None     |     None    |  17.0  |
| Amitriptilina |      None     |        None        |  1   |     3      |      None     |     None    |  28.0  |
| Amitriptilina |      None     |        None        |  1   |     4      |      None     |     None    |  11.0  |
| Amitriptilina |      None     |        None        |  1   |     5      |      None     |     None    |  20.0  |
+---------------+---------------+--------------------+------+------------+---------------+-------------+--------+
Truncated to displaylimit of 10.

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [22]:
%%sql

SELECT hp.especialidade, m.nome AS nome_medico, hp.nome AS nome_clinica, AVG(valor) AS valor_medio, STDDEV_POP(valor) AS desvio_padrao
FROM historial_paciente hp JOIN medico m USING (nif)
WHERE valor IS NOT NULL
GROUP BY hp.especialidade, m.nome, hp.nome
ORDER BY hp.especialidade, m.nome, hp.nome;

184 rows affected.

+---------------+-------------------------+--------------------+--------------------+--------------------+
| especialidade |       nome_medico       |    nome_clinica    |    valor_medio     |   desvio_padrao    |
+---------------+-------------------------+--------------------+--------------------+--------------------+
|  Cardiologia  | André Garcia Figueiredo | Clínica Bem-Estar  | 1.9656925031766201 | 0.8144764671928144 |
|  Cardiologia  | André Garcia Figueiredo |   Clínica Renova   | 2.0084745762711864 | 0.8166996996905896 |
|  Cardiologia  | André Garcia Figueiredo | Clínica Vida Plena |        2.0         | 0.8024583440524461 |
|  Cardiologia  |   António Cruz Fonseca  | Clínica Bem-Estar  | 2.008433734939759  | 0.808792766773322  |
|  Cardiologia  |   António Cruz Fonseca  |   Clínica Renova   | 1.9949811794228356 | 0.8215875967105527 |
|  Cardiologia  |   António Cruz Fonseca  |  Clínica Vitalis   | 1.981456953642384  | 0.8135771697023696 |
|  Cardiologia  |   Paulo Teixeira Nunes  |   Clínica Renova   | 2.0414285714285714 | 0.8174861916077775 |
|  Cardiologia  |   Paulo Teixeira Nunes  |  Clínica Vitalis   | 1.993421052631579  | 0.8223578946694731 |
|  Cardiologia  |   Sérgio Marques Silva  | Clínica Vida Plena | 1.9982876712328768 | 0.822935656857481  |
|  Cardiologia  |   Sérgio Marques Silva  |  Clínica Vitalis   | 2.0108474576271185 | 0.8241385602927049 |
+---------------+-------------------------+--------------------+--------------------+--------------------+
Truncated to displaylimit of 10.

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

Como ssn é PK nas tabelas paciente e id é PK na tabela observacao, não é necessário nenhum índice adicional para o JOIN. Mas, os filtros por parametro e valor beneficiariam de índices.
Que indíces podemos criar em observacao para otimizar a interrogacao?
    hash em parametro
    b-tree em valor
Apenas um deles é necessário, e determinar qual é o melhor requer determinar a seletividade das condiçoes.

In [36]:
%%sql

CREATE INDEX idx_observacao_param_valor ON observacao (parametro, valor);
CREATE INDEX idx_consulta_ssn ON consulta (ssn);

++
||
++
++

In [39]:
%%sql

SELECT paciente.nome
FROM paciente JOIN consulta USING (ssn) JOIN observacao USING (id)
WHERE parametro = 'Pressão arterial diastólica' AND valor >= 9;

8551 rows affected.

+-------------------------------+
|              nome             |
+-------------------------------+
|        Fábio Luz Câmara       |
|      Gisela Azevedo Gomes     |
|    Camila Pinheiro Martins    |
|   Henrique Guerreiro Soares   |
|     Tomás Pinto Guerreiro     |
|     Antónia Miranda Ramos     |
|      Alice Mendes Miranda     |
|      Júlia Leite Pascoal      |
|      Antónia Cruz Machado     |
|    Gonçalo Oliveira Vieira    |
|       Afonso Sousa Gama       |
|      Manuel Vaz Henriques     |
|  Fabrício Magalhães Caldeira  |
|      Adriana Ribeiro Cruz     |
|     Aníbal Miranda Correia    |
|      Luísa Carmo Esteves      |
|   Gabriela Sampaio Oliveira   |
|       Diogo Silva Zagalo      |
|  Frederico Magalhães Antunes  |
|        Hugo Vaz Araújo        |
|        Rui Borges Brito       |
|      Gisela Nunes Esteves     |
|    Vítor Caldeira Ferreira    |
|   Francisco Oliveira Batista  |
|   Henrique Figueiredo Lopes   |
|     Cláudia Novais Sampaio    |
|         Rui Luz Zagalo        |
|      Mariana Vieira Alves     |
| Alexandre Albuquerque Correia |
|      Daniel Silva Martins     |
|      Fábio Gama Guerreiro     |
|      Paulo Oliveira Brito     |
|      Margarida Leal Ramos     |
|     Elsa Marques Guerreiro    |
|      Marta Pinto Teixeira     |
|       João Zagalo Leite       |
|     Mário Fernandes Gomes     |
|      Tiago Miranda Borges     |
|     Cláudia Carvalho Leal     |
|     Isabel Araújo Teixeira    |
|  Patrícia Conceição Zeferino  |
|      Aníbal Costa Almeida     |
|      Tiago Oliveira Alves     |
|    Fernandina Câmara Faria    |
|      Gisela Leite Marques     |
|    Dário Valente Fernandes    |
|     Vítor Correia Barbosa     |
|  Mariana Albuquerque Cardoso  |
|        André Faria Luz        |
|      Júlia Correia Santos     |
|      Carla Mendes Garcia      |
|    Adriana Vieira Quintana    |
|     Aníbal Nóbrega Freitas    |
|     Dário Martins Oliveira    |
|    Manuel Oliveira Correia    |
|     Beatriz Silveira Gama     |
|    Bárbara Teixeira Zagalo    |
|      Bárbara Lopes Gomes      |
|   Domingos Freitas Monteiro   |
|      Miguel Faria Queirós     |
|     Florinda Vieira Ramos     |
|     Inês Pascoal Teixeira     |
|   Emília Albuquerque Zagalo   |
|     João Henriques Araújo     |
|      Laura Novais Ribeiro     |
|    Júlia Valente Magalhães    |
|       Elsa Borges Ramos       |
|     Luísa Ventura Ribeiro     |
|    Catarina Vargas Carvalho   |
|      Sofia Alves Marinho      |
|   Alexandre Guerreiro Silva   |
|     Sofia Fonseca Sampaio     |
|      Fábio Marinho Câmara     |
|      Vera Dias Figueiredo     |
|      Luísa Machado Alves      |
|    Alexandra Ventura Neves    |
|   Cláudia Fernandes Quintana  |
|     Mário Fernandes Galvão    |
|      Sara Antunes Santana     |
|    Pedro Oliveira Teixeira    |
|     Eva Conceição Santana     |
|    Eduardo Rodrigues Câmara   |
|     Armando Azevedo Gomes     |
|   Isabel Albuquerque Tavares  |
|     Célia Zeferino Correia    |
|      Emília Ribeiro Alves     |
|   Fabrício Guerreiro Santos   |
|      Diana Aguiar Simões      |
|      Emília Pascoal Gama      |
|     Bruno Martins Esteves     |
|     João Pascoal Quintana     |
|     Bárbara Garcia Araújo     |
|   Domingos Pinheiro Tavares   |
|   Fernandina Neves Ferreira   |
|    Alberto Marques Ribeiro    |
|      Alberto Soares Pinto     |
|       Afonso Costa Gomes      |
|      Cláudia Luz Freitas      |
|      Júlia Carmo Ferreira     |
|     Fernanda Sousa Correia    |
+-------------------------------+
Truncated to displaylimit of 100.

### Justificação


O índice em observacao(parametro, valor) permite que o PostgreSQL encontre rapidamente as entradas onde o parametro = 'Pressão arterial diastólica' e o valor >= 9. É um índice de chave composta.

O índice em consulta(ssn) melhora a performance da junção usando o ssn, já que é a coluna comum para a junção entre "paciente" e "consulta". É um índice B-Tree.

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [58]:
%%sql

SELECT COUNT(parametro)
FROM paciente JOIN consulta USING(ssn) JOIN observacao USING(id)
WHERE parametro = 'Pressão arterial diastólica';

1 rows affected.

Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

+-------+
| count |
+-------+
|  6024 |
+-------+

In [59]:
%%sql

SELECT COUNT(valor)
FROM paciente JOIN consulta USING(ssn) JOIN observacao USING(id)
WHERE valor >= 9;

1 rows affected.

+-------+
| count |
+-------+
|   0   |
+-------+

In [62]:
%%sql

SELECT *
FROM paciente JOIN consulta USING(ssn) JOIN observacao USING(id)
WHERE parametro = 'Pressão arterial diastólica';

6024 rows affected.

+-----+-------------+-----------+---------------------------+-----------+------------------------------------------------------------+------------+-----------+--------------------+------------+----------+--------------+-----------------------------+-------+
|  id |     ssn     |    nif    |            nome           |  telefone |                           morada                           | data_nasc  |   nif_1   |       nome_1       |    data    |   hora   |  codigo_sns  |          parametro          | valor |
+-----+-------------+-----------+---------------------------+-----------+------------------------------------------------------------+------------+-----------+--------------------+------------+----------+--------------+-----------------------------+-------+
|  15 | 79788509224 | 252859280 |   Célia Silveira Santana  | 962800034 |         Beco Bolacha Leal 73, 3823-368 Montalegre          | 2004-03-24 | 559409125 |  Clínica Vitalis   | 2023-01-01 | 16:30:00 | 100000000015 | Pressão arterial diastólica |  None |
|  54 | 52192684909 | 308071089 | Fernanda Câmara Conceição | 964960568 |          Ruela Caneta Legal 75, 3258-533 Odemira           | 1979-07-09 | 242556530 |   Clínica Renova   | 2023-01-01 | 12:30:00 | 100000000054 | Pressão arterial diastólica |  None |
| 175 | 41202138074 | 497068112 |   Florinda Alves Moreira  | 963607906 |        Avenida Violeta Leal 55, 2936-186 Monchique         | 1952-01-12 | 242556530 | Clínica Equilíbrio | 2023-01-02 | 14:30:00 | 100000000175 | Pressão arterial diastólica |  None |
| 179 | 99205005355 | 616025584 |   João Henriques Batista  | 965178841 |          Praça Bolacha Alegre 83, 3284-588 Alvito          | 1982-12-24 | 504804054 | Clínica Equilíbrio | 2023-01-02 | 10:00:00 | 100000000179 | Pressão arterial diastólica |  None |
| 186 | 86101547476 | 992680083 |     Joana Araújo Neves    | 961161171 |            Praça Limão Gentil 52, 7852-924 Beja            | 1991-03-14 | 590884587 | Clínica Vida Plena | 2023-01-02 | 08:30:00 | 100000000186 | Pressão arterial diastólica |  None |
| 187 | 62592995773 | 963265776 |      Rui Matos Leite      | 963136497 |         Praceta Caderno Grande 68, 5529-869 Crato          | 1959-04-22 | 768048202 | Clínica Vida Plena | 2023-01-02 | 08:30:00 | 100000000187 | Pressão arterial diastólica |  None |
| 201 | 67077547267 | 208175018 |    Elsa Martins Moreira   | 968134410 |       Vale Violeta Simples 96, 9479-744 Castro Marim       | 2021-04-01 | 193508018 |  Clínica Vitalis   | 2023-01-03 | 14:00:00 | 100000000201 | Pressão arterial diastólica |  None |
| 224 | 45319505848 | 749576741 |   Tomás Ventura Zeferino  | 961827736 |        Quinta Rosa Radical 86, 2558-221 Montalegre         | 1980-05-15 | 985461259 | Clínica Bem-Estar  | 2023-01-03 | 08:30:00 | 100000000224 | Pressão arterial diastólica |  None |
| 316 | 97667652414 | 972337631 |  Alexandre Silveira Matos | 969118622 |         Estrada Flor Gentil 72, 5661-317 Barrancos         | 2003-07-12 | 234950579 |  Clínica Vitalis   | 2023-01-04 | 10:00:00 | 100000000316 | Pressão arterial diastólica |  None |
| 317 | 99238484010 | 372414135 |    Elvira Carmo Castro    | 963471354 | Travessa Caneta Leal 42, 4825-696 Freixo de Espada à Cinta | 1981-11-19 | 176432759 |  Clínica Vitalis   | 2023-01-04 | 17:00:00 | 100000000317 | Pressão arterial diastólica |  None |
+-----+-------------+-----------+---------------------------+-----------+------------------------------------------------------------+------------+-----------+--------------------+------------+----------+--------------+-----------------------------+-------+
Truncated to displaylimit of 10.

In [49]:
%%sql

CREATE INDEX idx_consulta_data ON consulta (data);
CREATE INDEX idx_consulta_nif ON consulta (nif);
CREATE INDEX idx_receita_codigo_sns ON receita (codigo_sns); 
CREATE INDEX idx_medico_especialidade ON medico (especialidade);

++
||
++
++

In [23]:
%%sql

SELECT especialidade, SUM(quantidade) AS qtd
FROM medico JOIN consulta USING (nif) JOIN receita USING (codigo_sns)
WHERE data BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY especialidade
ORDER BY qtd;

6 rows affected.

+----------------+--------+
| especialidade  |  qtd   |
+----------------+--------+
|  Cardiologia   | 24350  |
| Endocrinologia | 38301  |
|   Pediatria    | 40884  |
|  Pneumologia   | 52490  |
|   Ortopedia    | 54552  |
| Clínica Geral  | 105155 |
+----------------+--------+

### Justificação

O índice em consulta(data) vai permitir que o PostgreSQL encontre rapidamente os dados no intervalo de datas especificado. É um índice B-Tree.

O índice em consulta(nif) vai otimizar a junção entre a tabela "medico" e a tabela "consulta" usando a coluna "nif" como chave de junção. É um índice B-Tree.




O índice em receita(codigo_sns) vai otimizar a junção entre a tabela "consulta" e a tabela "receita" usando a coluna "codigo_sns" como chave de junção. É um índice B-Tree.


O índice em medico(especialidade) vai melhorar a performance da operação de agrupamento e agregação. É um índice B-Tree.